[defaults]
inventory            = inventory/devices.yml
host_key_checking    = true
retry_files_enabled  = false
stdout_callback      = yaml
callbacks_enabled    = profile_tasks, timer
interpreter_python   = auto_silent
forks                = 10
timeout              = 60
display_skipped_hosts = false
gathering            = explicit

[persistent_connection]
connect_timeout   = 60
command_timeout   = 120
connect_retry_timeout = 30

[paramiko_connection]
look_for_keys = false

[ssh_connection]
pipelining = false
